<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid class="singup-container">

    <ion-row class="cont-titulo ion-justify-content-center">
      <ion-col size="12" class="ion-text-start">
        <ion-title><Strong>Recupera tu contraseña</Strong></ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="cont-singup ion-justify-content-center">
      <ion-col size="12" class="ion-text-start">
        <p class="Texto1">
          Ingresa tu RUT y correo electrónico asociados a tu cuenta y te enviaremos un enlace para restablecer tu contraseña.
        </p>
        <ion-list lines="none" class="form">
          <ion-item>
            <label for="rut">RUT:</label>
            <ion-input  class="ion-text-right" id="rut" placeholder="sin puntos y con -" type="text" maxlength="10"  [(ngModel)]="rut"></ion-input>
            <ion-icon slot="end" name="finger-print-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <label for="email">Email:</label>
            <ion-input class="ion-text-right" id="email" type="email" [(ngModel)]="mailuser"></ion-input>
            <ion-icon slot="end" name="at-outline"></ion-icon>
          </ion-item>


          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button class="botonA2" shape="" expand="block" (click)="RecoverPW()"><strong>Enviar</strong></ion-button>
            </ion-col>
          </ion-row>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>