<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons (click)="Volver()" slot="start">
      <ion-icon class="icono" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <div class="toolbar-container">
      <label class="toolbar-text">Historial de Actividades</label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let actividad of actividades; let i = index">
        <ion-card class="card-container">
          <div class="card-background" [style.backgroundImage]="'url(' + (actividad.url || '/assets/portrait/nocover.jpg') + ')'"></div>
          <ion-card-header>
            <div class="card-title-container">
              <ion-card-title class="tit-card-cont">{{ actividad.Nom_Actividad }}</ion-card-title>
            </div>
          </ion-card-header>
          <ion-card-content class="card-contenid">
            <div><p>Fecha de la actividad: {{ actividad.Fecha_TER_Actividad | date:'yyyy-MM-dd' }}</p></div>
            <div><p>Anfitrion de la actividad: {{ actividad.Nom_User }}</p></div>
            <div><p>Detalles: {{ actividad.Desc_actividad }}</p></div>
            <div><p>
              Ubicación: 
              <a 
                href="https://www.google.com/maps/search/?api=1&query={{ actividad.Direccion_Actividad }}" 
                target="_blank" 
                style="text-decoration: none; color: inherit; font-weight: bold;"
              >
                {{ actividad.Direccion_Actividad }}
              </a>
            </p></div>
            <div><p>
              Celular Anfitrión:
              <a 
                href="tel:{{ actividad.Celular_User }}" 
                style="text-decoration: none; color: inherit; font-weight: bold;">
                {{ actividad.Celular_User }}
              </a>
            </p></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>