ion-header {
    .toolbar {
      --background: #f46b45;  /* fallback for old browsers */
      --background: -webkit-linear-gradient(to top, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
      --background: linear-gradient(to top, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px; 
      position: relative;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    }
    
    ion-buttons {
      ion-icon {
        font-size: 30px; 
        color: #fff; 
        margin-left: -10px;
      }
    }
  
    .logoW {
      max-width: 90px; 
      height: auto;
      margin: 0 auto;
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); 
    }
  }

  
  .container-cerr {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    ion-button {
      --background: #FF8C00; 
      --border-radius: 50px; 
      font-family: 'Roboto', sans-serif; 
      font-weight: 600;
      padding: 10px 25px; 
      color: white; 
      transition: background-color 0.1s; 
      border: 2px solid transparent; 
    }
  
  }
  
  ion-item ion-icon {
    font-size: 24px; 
  }
  

  //configuraciones aparte

  //titulo
  .tit-adm{
    color: black;
    font-style: italic;
  }