<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <div class="toolbar-left" slot="start">
      <h1>Administrador</h1>
    </div>
    <div class="toolbar-logo-container">
      <ion-img class="logoW" src="../../assets/img/logo.png"></ion-img>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
</ion-content>