//Configuración del Header
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-radius: 10px;
}
//logo central
.col-center{
}

.logoW img{
    height: auto;
}
//logo derecha e izquierda
.logoSec{
    height: 30px;
}
.logoTerc{
    height: 30px;
}