<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
    </ion-buttons>
    <div class="toolbar-logo-container">
      <ion-img class="logoW" src="../../assets/img/logo.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1 class="actividades-rapidas">Considera el clima para tus actividades</h1>
  <ion-card *ngIf="weatherData">
    <ion-card-header>
      <ion-card-title>{{ weatherData.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="weather-info">
        <div class="weather-details">
          <p>Temperatura: {{ weatherData.main.temp }} °C</p>
          <p>Descripción: {{ weatherData.weather[0].description }}</p>
          <p>Humedad: {{ weatherData.main.humidity }}%</p>
        </div>
        <img *ngIf="weatherIconUrl" [src]="weatherIconUrl" alt="Icono del clima" class="weather-icon" />
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!weatherData">
    <ion-card-header>
      <ion-card-title>Cargando clima...</ion-card-title>
    </ion-card-header>
  </ion-card>

  <h1 class="actividades-rapidas">Actividades Rápidas</h1>
  
  <!-- Actividades en formato de una columna, ajustablee en ion-col size="12/6" -->
  <ion-grid>
    <ion-row>
      <!-- Mostrar solo 6 actividades aleatorias -->
      <ion-col size="12" *ngFor="let actividad of actividadesAleatorias; let i = index">
        <ion-card [ngClass]="coloresActividades[i]" (click)="onCardClick(actividad)" class="card-container">
          <!-- Fondo de la imagen con desenfoque -->
          <div class="card-background" [style.backgroundImage]="'url(' + (actividad.Url || 'assets/portrait/nocover.jpg') + ')'"></div>
  
          <!-- Contenido de la tarjeta encima del fondo -->
          <ion-card-header>
            <div class="card-title-container">
              <ion-card-title class="tit-card-cont">{{ actividad.Nom_Actividad }}</ion-card-title>
            </div>
            <ion-card-subtitle class="date-cont">{{ actividad.Fecha_INI_Actividad | date:'short' }}</ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content class="card-contenid">
            <p>{{ actividad.Nom_SubCategoria }}</p>
            <p>{{ actividad.Desc_Actividad }}</p>
            <p>Dirección: {{ actividad.Direccion_Actividad }}</p>
            <p>Jugadores: {{ actividad.Cantidad_MaxJugador }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1 class="actividades-rapidas">También te podría interesar</h1>
  
</ion-content>
