.log-container { 
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* overflow-y: hidden;  Evita scroll vertical */
}

.cont-titulo {
    flex: 1;
    padding-top: 70px;
    padding-bottom: 70px;

    .logo {
        margin: 0 auto;
        width: 250px !important; /* Tamaño del logo */
    }
}

.Tit1 {
    font-size: 30px;
    color: black;
}

.cont-login {
    flex: 2;
    padding-top: 50px;  
    padding-bottom: 30px;
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.espacio {
    margin-right: 5px;
}

.form {
    max-width: 350px; /* Aumenté el ancho máximo del formulario */
    margin: 0 auto;
    background: none;
    color: white;

    ion-icon {
        color: white;
        font-size: 24px; /* Aumentar el tamaño del ícono */
    }

    ion-item {
        --background: transparent;
        border-color: white;
        color: white;
        border-style: solid;
        margin-bottom: 10px; /* Espacio entre los campos */
        border-width: 1px; /* Grosor del borde reducido */
        border-radius: 5px;
        padding: 10px; /* Ajusté el padding para que sean más cómodos */
        font-size: 16px; /* Tamaño de fuente más grande */
        display: flex;
        align-items: center; /* Centrar verticalmente */
    }

    .A1 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ion-checkbox {
            transform: scale(1.1); /* Ajusta el tamaño del checkbox */
            font-size: 13px; /* Aumentar el tamaño del checkbox */
        }

        .save {
            font-size: 13px; /* Tamaño más grande para "Recuérdame" */
            color: white; 
        }  
    }

    .botonA2 {
        --background: white;    
        --background-activated: #cdcdcd;  
        --color: black;
        --box-shadow: none;
        text-transform: none;         
        width: 100%; /* Ancho completo */
        padding: 12px; /* Espacio alrededor del botón */
        font-weight: bold; /* Cambié a bold para resaltar el texto */
        font-size: 18px; /* Aumenté el tamaño de fuente del botón */
        border-radius: 5px; /* Bordes redondeados */
    }
    .recuperar-bot{
        margin-top: 10px !important;
    }

    .singup {
        color: white;
    }
}

/* Estilos específicos para pantallas más pequeñas */
@media (max-width: 380px) {
    .Tit1 {
        font-size: 25px;
        color: black;
    }
  
    .cont-titulo {
        font-size: 24px;
        padding-top: 40px;
        padding-bottom: 40px;
        
        .logo {
            width: 200px; /* Tamaño del logo en pantallas pequeñas */
        }
    }

    .form {
        max-width: 90%; 
        
        ion-item {
            padding: 8px 10px; /* Padding ajustado para pantallas pequeñas */
            font-size: 16px; /* Tamaño de fuente más pequeño */
            border-width: 1px; /* Grosor del borde reducido */
        }

        .A1 {
            display: inline-block;
            padding-bottom: 8px;
            font-size: 16px; /* Tamaño de fuente ajustado */
            ion-checkbox {
                transform: scale(1); /* Ajusta el tamaño del checkbox */
                font-size: 10px; /* Tamaño del checkbox */
            }
            .save {
                font-size: 11px; /* Tamaño más grande para "Recuérdame" */
                color: rgb(0, 0, 0); 
            }  
        }

        .botonA2 {       
            min-width: 100%; 
            height: auto; /* Ajuste automático de altura */
            padding: 10px; 
            font-size: 16px; 
        }

        .recuperar {
            font-size: 12px; /* Tamaño de fuente más pequeño para recuperar contraseña */
        }
    }
}
