<ion-content>
  <ion-grid class="log-container">
    <!-- Primera mitad, va logo y nombre -->
    <ion-row class="cont-titulo ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <div class="logo">
          <ion-img class="logoW" src="../../assets/img/logo.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    
    <!-- Segunda mitad, va todo el login -->
    <ion-row class="cont-login ion-justify-content-center">
      <ion-col size="12">
        <ion-list lines="none" class="form">
          
          <!-- Correo -->
          <ion-item class="custom-input">
            <ion-label >Correo:</ion-label>
            <ion-input 
            class="ion-text-right" 
            type="email" 
            [(ngModel)]="mailuser" 
            required>
          </ion-input>
          <ion-icon slot="end" name="at-outline"></ion-icon>
        </ion-item>
        
        <!-- Contraseña -->
        <ion-item class="custom-input">
          <ion-label >Contraseña:</ion-label>
          <ion-input 
          class="ion-text-right" 
          [type]="showPassword ? 'text' : 'password'"
          maxlength="8" 
          [(ngModel)]="password" 
          required>
        </ion-input>
        <ion-icon 
        slot="end" 
        name="{{showPassword ? 'eye-off-outline' : 'eye-outline'}}" 
        (click)="togglePassword()">
      </ion-icon>
    </ion-item>
    <!-- botones login y recover -->
    <div class="botones-log">
      <ion-button class="bot-inis" (click)="login()">Iniciar sesión</ion-button>
      <ion-button class="bot-recs" (click)="recover()">Recupera tu contraseña</ion-button>
    </div>
    <!-- Mensaje para crear cuenta -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <p class="Text1">
          ¿No tienes tu cuenta PlayTab? 
        </p>
        <p>
          <a class="singup" (click)="signup()"><strong>Crea una cuenta</strong></a>
        </p>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-col>
</ion-row>
</ion-grid>

<!-- Alerta para mostrar mensajes de error -->
<ion-alert
[isOpen]="isAlertOpen"
header="Error"
[message]="alertMessage"
[buttons]="['OK']"
(didDismiss)="setAlertOpen(false)">
</ion-alert>

</ion-content>
