<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="IrHistorial()">
        <ion-icon name="time-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <div class="toolbar-logo-container">
      <ion-img class="logoW" src="../../assets/img/logo.png"></ion-img>
    </div>
    
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingText="Desliza hacia abajo para refrescar"
      refreshingSpinner="crescent"
      refreshingText="Actualizando actividades...">
    </ion-refresher-content>
  </ion-refresher>

   <!-- Actividades en formato de una columna, ajustablee en ion-col size="12/6" -->
   <ion-grid>
    <ion-row>
      <!-- Mostrar solo 6 actividades aleatorias -->
      <ion-col size="12" *ngFor="let actividad of actividades; let i = index">
        <ion-card class="card-container" (click)="onCardClick(actividad)">
          <!-- Fondo de la imagen con desenfoque -->
          <div class="card-background" [style.backgroundImage]="'url(' + (actividad.Url || 'assets/portrait/nocover.jpg') + ')'"></div>
          <!-- Contenido de la tarjeta encima del fondo -->
          <ion-card-header>
            <div class="card-title-container">
              <ion-card-title class="tit-card-cont">{{ actividad.Nom_Actividad }}</ion-card-title>
            </div>
            <ion-card-subtitle class="date-cont">Categoria: {{ actividad.Nom_SubCategoria }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="card-contenid">
            <p>Anfitrion: {{ actividad.Nom_User }}</p> 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
