////estilo header
ion-header {
    .toolbar {
      --background: linear-gradient(135deg, #ff6600, #c0b626);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px; 
      position: relative;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    }
    
    ion-buttons {
      ion-icon {
        font-size: 30px; 
        color: #fff; 
        margin-left: -10px;
      }
    }
  
    .logoW {
      max-width: 90px; 
      height: auto;
      margin: 0 auto;
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); 
    }
  }
  