<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
    </ion-buttons>
    <div class="toolbar-logo-container">
      <ion-img class="logoW" src="../../assets/img/logo.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-no-border">
    <ion-title>¡Crea tu actividad!</ion-title>
  </div>

  <!-- Datos de la actividad -->
  <div class="section-title">Datos de la actividad</div>
  
  <ion-item>
    <ion-label position="stacked">Nombre de la actividad</ion-label>
    <ion-input type="text" [(ngModel)]="nomActividad" placeholder="Ej: Fútbol entre amigos" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-input type="text" [(ngModel)]="descActividad" placeholder="Ej: Partido amistoso de fútbol" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Dirección actividad o pefil de Discord</ion-label>
    <ion-input type="text" [(ngModel)]="direccionActividad" placeholder="" required></ion-input>
  </ion-item>

  <!-- Categoría y Subcategoría -->
  <ion-item>
    <ion-label position="stacked">Categoría</ion-label>
    <ion-select [(ngModel)]="categoriaSeleccionada" (ionChange)="cargarCategorias()" placeholder="Selecciona una categoría..." required>
      <ion-select-option *ngFor="let categoria of categoriaId" [value]="categoria.Id_Categoria">
        {{ categoria.Nom_Categoria }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Subcategoría</ion-label>
    <ion-select [(ngModel)]="subcategoriaSeleccionada" placeholder="Selecciona una subcategoría..." required>
      <ion-select-option *ngFor="let subcategoria of subcategoriaId" [value]="subcategoria.Id_SubCategoria">
        {{ subcategoria.Nom_SubCategoria }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Jugadores -->
  <ion-item>
    <ion-label position="stacked">Cantidad de jugadores</ion-label>
    <ion-select [(ngModel)]="maxJugadores" placeholder="¿Cantidad de jugadores?" required>
      <ion-select-option *ngFor="let maxJugador of MaxjugadorId" [value]="maxJugador.Id_MaxJugador">
        {{ maxJugador.Cantidad_MaxJugador }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Hora de inicio y fin -->
  <div class="section-title">Tiempo límite de registro</div>
  
  <ion-item>
    <ion-label position="stacked">Desde:</ion-label>
    <ion-input type="time" [(ngModel)]="horaActividad" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Hasta:</ion-label>
    <ion-input type="time" [(ngModel)]="horaTerminoActividad" required></ion-input>
  </ion-item>

  <!-- Botones de acción -->
  <ion-item lines="none">
    <ion-button expand="block" color="primary" (click)="crearActividad()">Crear</ion-button>
    <ion-button expand="block" color="medium" (click)="volver()">Volver</ion-button>
  </ion-item>
</ion-content>
