<ion-toolbar>
  <ion-buttons slot="start">
    <ion-icon name="arrow-back-outline" (click)="volver()"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content scroll-y="false">
  <ion-grid class="singup-container">

    <ion-row class="cont-titulo ion-justify-content-center">
      <div class="Watty">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </div>
      <ion-col size="12" class="ion-text-start">
        <ion-title><Strong>Error 404</Strong></ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="cont-singup ion-justify-content-center">
      <ion-col size="12" class="ion-text-start">
        <p class="Texto1">
          Creo que quieres ir a un lugar que no existe aquí o no has iniciado sesión.
        </p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
