<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
          <ion-button>
              <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
      <div class="toolbar-logo-container">
          <ion-img class="logoW" src="../../assets/img/logo.png"></ion-img>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Perfil -->
  <ion-card class="profile-card">
      <ion-card-header>
          <ion-avatar>
              <img src="../../assets/icon/perfil.png" alt="Foto de perfil" />
          </ion-avatar>
      </ion-card-header>
      <ion-card-title>{{ userData?.Nom_User }}</ion-card-title> <!-- Nombre del usuario -->
  </ion-card>
  <!-- Perfil -->

  <!-- Sección Sobre Mí -->
  <ion-list>
      <ion-list-header>
          <ion-label>Sobre Mí</ion-label>
      </ion-list-header>

      <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>{{ userData?.Correo_User }}</ion-label> <!-- Correo electrónico -->
          <ion-note slot="end">Correo electrónico</ion-note>
      </ion-item>

      <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>{{ userData?.Celular_User }}</ion-label> <!-- Número de teléfono -->
          <ion-note slot="end">Número de teléfono</ion-note>
      </ion-item>

      <ion-item>
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>{{ userData?.Nombre_Comuna }}</ion-label> <!-- Comuna -->
 <!-- Comuna -->
          <ion-note slot="end">Ubicación</ion-note>
      </ion-item>
  </ion-list>

  <!-- Sección Configuraciones -->
  <ion-list>
      <ion-list-header>
          <ion-label>Configuraciones</ion-label>
      </ion-list-header>

      <ion-item>
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          <ion-label>Modo Silencioso</ion-label>
          <ion-toggle slot="end"></ion-toggle>
      </ion-item>

      <ion-item>
          <ion-icon name="moon-outline" slot="start"></ion-icon>
          <ion-label>Modo Oscuro</ion-label>
          <ion-toggle slot="end"></ion-toggle>
      </ion-item>
  </ion-list>

  <!-- Pie de Página -->
  <ion-footer class="ion-text-center">
      <ion-text color="medium">
          <small>Privacidad y Política</small>
      </ion-text>
  </ion-footer>

  <div class="container">
      <ion-button shape="round" (click)="logOut()">Cerrar sesión</ion-button>
  </div>
</ion-content>
