ion-header {
  .toolbar {
    --background: #f46b45;  /* fallback for old browsers */
    --background: -webkit-linear-gradient(to top, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to top, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  ion-buttons {
    ion-icon {
      font-size: 30px; 
      color: #fff; 
      margin-left: -10px;
    }
  }

  .logoW {
    max-width: 90px; 
    height: auto;
    margin: 0 auto;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); 
  }
}

.colorFab {
  --background: linear-gradient(135deg, #ff6600, #c0b626);
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


ion-searchbar {
  margin-bottom: auto;
  --background: white; 
  --border-radius: 5px; 
  --color: black;
  --placeholder-color: #cf551c; 
}


.actividades-rapidas {
  margin-left: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700; 
}

ion-card {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
}

.tit-card-cont{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.date-cont{
  color: white;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.card-contenid{
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


.card-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}


.card-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px); 
  z-index: 1;
}

ion-card-header,
ion-card-content {
  z-index: 2; 
  border-radius: 5px;
}