ion-header {
  .toolbar {
    --background: linear-gradient(135deg, #ff6600, #c0b626);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  ion-buttons {
    ion-icon {
      font-size: 30px; 
      color: #fff; 
      margin-left: -10px;
    }
  }

  .logoW {
    max-width: 90px; 
    height: auto;
    margin: 0 auto;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); 
  }
}

// Estilo para las imágenes
.img {
  width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho disponible */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Mantiene la proporción sin deformar */
  border-radius: 8px; /* Bordes redondeados */
  margin: 10px auto; /* Centra la imagen */
  display: block;
}

.colorFab {
  --background: linear-gradient(135deg, #ff6600, #c0b626);
}

// Font personalizado para escritura
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

// Barra de búsqueda
ion-searchbar {
  margin-bottom: auto;
  --background: white; /* Color de fondo del campo de búsqueda */
  --border-radius: 5px; /* Bordes redondeados */
  --color: black; /* Color del texto */
  --placeholder-color: #cf551c; /* Color del texto del placeholder */
}

// Textos
.actividades-rapidas {
  margin-left: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700; /* Asegura que el texto esté en negrita */
}

// Colores de las tarjetas
ion-card.col-card1 {
  background-color: #FF9999;
  color: black;
  box-shadow: 0px 0px 10px red;
  border: 2px solid #FF9999;
}

ion-card.col-card2 {
  background-color: #99CCFF;
  color: black;
  box-shadow: 0px 0px 10px blue;
  border: 2px solid #99CCFF;
}

ion-card.col-card3 {
  background-color: #77dd77;
  color: black;
  box-shadow: 0px 0px 10px green;
  border: 2px solid #77dd77;
}

ion-card.col-card4 {
  background-color: #ffcc99;
  color: black;
  box-shadow: 0px 0px 10px orange;
  border: 2px solid #ffcc99;
}

ion-card.col-card5 {
  background-color: #d1c4e9;
  color: black;
  box-shadow: 0px 0px 10px purple;
  border: 2px solid #d1c4e9;
}

// Diseño de la card
ion-card {
  margin-top: 30px;
  padding: 10px;
}

// Contenedor título de la card
.card-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 700; /* Asegura que el texto del título esté en negrita */
}
