<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content scroll-y="false">
  <ion-grid class="singup-container">
    <ion-row class="cont-titulo ion-justify-content-center">
      <ion-col size="12" class="ion-text-start">
        <ion-title><strong>¡Crea tu cuenta!</strong></ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="cont-singup ion-justify-content-center">
      <ion-col size="12" class="ion-text-start">
        <ion-list lines="none" class="form">
          <ion-item>
            <ion-input label="Nombre:" type="text" [(ngModel)]="nombre" required></ion-input>
            <ion-icon slot="end" name="person-circle-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input label="Rut:" placeholder="sin puntos y con -" type="text" [(ngModel)]="rut" required></ion-input>
            <ion-icon slot="end" name="finger-print-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input label="Correo:" type="email" [(ngModel)]="mailuser" required></ion-input>
            <ion-icon slot="end" name="at-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input label="Celular:" type="tel" placeholder="+569" [(ngModel)]="celular" required></ion-input>
            <ion-icon slot="end" name="call-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña:" type="password" [(ngModel)]="password" required></ion-input>
            <ion-icon slot="end" name="key-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input label="Confirma contraseña:" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="ConfirmPassword" required></ion-input>
            <ion-icon slot="end" name="{{showPassword ? 'eye-off-outline' : 'eye-outline'}}" (click)="togglePassword()"></ion-icon>
          </ion-item>

          <ion-row class="A1 ion-align-items-center">
            <ion-col size="12">
              <p>
                He leído y acepto los
                <ion-checkbox [(ngModel)]="AceptaCondiciones" required></ion-checkbox>
                <strong><a class="acuerdo" href="#">términos y condiciones</a></strong>
              </p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button class="botonA2" expand="block" (click)="SingUp()"><strong>Crear Cuenta</strong></ion-button>
            </ion-col>
          </ion-row>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>